/DiscordIntegration-Data
/logs
/crash-reports
/screenshots
/hotbar.nbt
/modernfix
/saves
/config/sound_physics_remastered
/options.txt
/usercache.json
/usernamecache.json
/.mixin.out
/.qmenu_opened.marker
/.gitignore
/resourcepacks
/schematics
**.DS_Store
