/DiscordIntegration-Data
/logs
/blueprint-online-image-cache
/crash-reports
/screenshots
/mods
/hotbar.nbt
/modernfix
/PortfolioCoderPython/PortfolioCoderPython/paths.py
/saves
/cherishedworlds-favorites.dat
/config/sound_physics_remastered/
/options.txt
/config/Discord-Integration.toml
/usercache.json
/usernamecache.json
/.mixin.out
/.qmenu_opened.marker
/.gitignore
/resourcepacks
/schematics
\.DS_Store
