/DiscordIntegration-Data
/logs
/servers.dat
/servers.dat_old
/examples
/blueprint-online-image-cache
/crash-reports
/screenshots
/mods
/hotbar.nbt
/modernfix
/python/paths.py
/saves
/cherishedworlds-favorites.dat
/config/sound_physics_remastered/
/options.txt
/config/Discord-Integration.toml
/usercache.json
/emi.json
/usernamecache.json
/.mixin.out
/.qmenu_opened.marker
/.gitignore
/resourcepacks
/schematics
\.DS_Store
